{%csrf_token %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Trainer</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/static/admin/vendors/feather/feather.css">
  <link rel="stylesheet" href="/static/admin/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/static/admin/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/admin/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/static/admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/admin/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/static/admin/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <!-- <a class="navbar-brand brand-logo mr-5" href="../../index.html"><img src="../../images/logo.svg" class="mr-2" alt="logo"/></a> -->
        <!-- <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../images/logo-mini.svg" alt="logo"/></a> -->
        <a href="#" style="color:#4B49AC;font-weight: bold"> Fitness Management </a>
        
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
    
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas " id="sidebar">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" href="/index_trainer/">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add_videos/">
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">Upload_videos</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manage_videos/">
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">Manage_videos</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add_trainer_customer/">
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">Add_Customer_Details</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/manage_trainer_customer/">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Manage Customer_Details</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/add_customer_health/">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Add Health_Status</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manage_customer_health/">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Manage_Health_Status</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/diet_plan/">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Diet Plan</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/diet_byure/">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Diet Byure</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin_login/">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Log Out</span>
            </a>
          </li>
         
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card mx-auto">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Health Status</h4>
                
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="exampleInputUsername1"> Name</label>
                      <input type="text" class="form-control" id="txtName" placeholder="Enter Name">
                    </div>
                    
                     <div class="form-group">
                       <label for="exampleInputUsername1">Date</label>
                        <input type="date" class="form-control" id="txtdate" placeholder="Enter Date">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputUsername1">Body Fat</label>
                      <input type="text" class="form-control" id="txtBodyFat" placeholder="Enter Body Fat">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputUsername1">Water</label>
                      <input type="text" class="form-control" id="txtWater" placeholder="Enter Water">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputUsername1">Muscle</label>
                      <input type="text" class="form-control" id="txtMuscle" placeholder="Enter Muscle">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputUsername1">Calorie</label>
                      <input type="text" class="form-control" id="txtCalorie" placeholder="Enter Calorie">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputUsername1">Bone</label>
                      <input type="text" class="form-control" id="txtBone" placeholder="Enter Bone">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputUsername1">Remarks</label>
                      <input type="text" class="form-control" id="txtRemarks" placeholder="Enter Remarks">
                    </div>
                    
                    <button type="button" class="btn btn-primary mr-2" id="btn_add">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          
       </div>
       
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
       
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/static/admin/vendors/js/vendor.bundle.base.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>

  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/static/admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="/static/admin/vendors/select2/select2.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/static/admin/js/off-canvas.js"></script>
  <script src="/static/admin/js/hoverable-collapse.js"></script>
  <script src="/static/admin/js/template.js"></script>
  <script src="/static/admin/js/settings.js"></script>
  <script src="/static/admin/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/static/admin/js/file-upload.js"></script>
  <script src="/static/admin/js/typeahead.js"></script>
  <script src="/static/admin/js/select2.js"></script>
  <script src="/static/trainer/js/jsAddHealthStatus.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
