{%csrf_token %}

<!DOCTYPE html>
<html lang="eng">

<head>
	<meta charset="UTF-8">
    <title>Fitness Management  | About-us</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/web/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/web/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/web/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/web/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/web/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/web/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/web/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/web/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="container-fluid">
            <div class="logo">
                <a href="/index/">
                    <img src="/static/web/images/gymnasium.png" alt="" width="80" height="80" style="border-radius:50px;">
                </a>
            </div>
            
            <div class="container">
                <div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <li ><a href="/index/">Home</a></li>
                            <li class="active"><a href="/about-us/">About us</a></li>
							<li><a href="/package/">Packages</a></li>
                            <li><a href="/schedule/">Schedule</a></li>
                            <li><a href="/gallery/">Gallery</a></li>
                            <li><a href="/video/">Videos</a></li>
                            <li><a href="/contact/">Contacts</a></li>
                            <li><a href="/login/">Login</a></li>
                            <li><a href="/register/">Register</a></li>

                        </ul>
                    </nav>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg spad" data-setbg="/static/web/images/about-bread.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>About Us</h2>
                        <div class="breadcrumb-controls">
                            <a href="#"><i class="fa fa-home"></i> Home</a>
                            <span>About Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb End -->

    <!-- Aboutus Section Begin -->
    <section class="aboutus-section spad">
        <div class="container">
            <div class="aboutus-page-text">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 m-auto">
                        <div class="section-title">
                            <h2>“Life is not merely living but living in health.”</h2>
                        </div>
                    </div>
                </div>
                <img src="/static/web/images/about-us1.jpg" alt="">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-us">
                            <h4>ABOUT US</h4>
                            <p>The main objective of ‘About GYM’ is to create awareness and to Co-ordinate the performance of body, mind and soul in a befitting manner, we are the winner, we don’t do different thing, we do things differently. Our goal is to be sensitive to our members needs and to fulfill fitness requirements. We ensure physical fitness and robust health to customers as we counsel, we assist, we motivate them to lead a joyous and meaningful results are bound to be positive as we put in our 200% to fulfill your needs.</p>
                            <p>Our vision is to maintain the standers of our fitness centre for our member’s well being, our members will have sound body and it will be maintained well when complimented by a health foods bar to nourish body’s daily fiber vitamin’s requirements.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-quality">
                            <h4>OUR PROGRAMS</h4>
                            <p> </p>
                            <ul>
                                <li><i class="fa fa-check-circle-o"></i>Bodybuilding</li>
                                <li><i class="fa fa-check-circle-o"></i>Running</li>
                                <li><i class="fa fa-check-circle-o"></i>Streching</li>
                                <li><i class="fa fa-check-circle-o"></i>Weight Loss</li>
								<li><i class="fa fa-check-circle-o"></i>Gym Fitness</li>
                           </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Aboutus Section End -->

    <section class="cta-section set-bg"  data-setbg="/static/web/images/classes-title-bg.jpg">
        
    </section>

    <!-- Trainer Section Begin -->
    <section class="trainer-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>OUR Trainer</h2>
                        <p>Our GYM experts can help you discover new training techniques.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="ti-pic">
                            <img src="/static/web/images/trainer/trainer1.jpg" alt="" height="370px" width="270px">
                            <div class="ti-links">
                                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.pinterest.ca/" target="_blank"><i class="fa fa-pinterest"></i></a>
                                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                            </div>
                            <div class="trainer-text">
                                <h5>Sheetal<span>- Trainer</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="ti-pic">
                            <img src="/static/web/images/trainer/trainer2.jpg" alt="" height="370px" width="270px">
                            <div class="ti-links">
                                <a  href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.pinterest.ca/" target="_blank"><i class="fa fa-pinterest"></i></a>
                                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                            </div>
                            <div class="trainer-text">
                                <h5>ShreePrasad <span>- Trainer</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="ti-pic">
                            <img src="/static/web/images/trainer/trainer3.jpg" alt="" height="370px" width="270px">
                            <div class="ti-links">
                                <a  href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.pinterest.ca/" target="_blank"><i class="fa fa-pinterest"></i></a>
                                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                            </div>
                            <div class="trainer-text">
                                <h5>Pramod <span>- Trainer</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="ti-pic">
                            <img src="/static/web/images/trainer/trainer4.jpg" alt="" height="370px" width="270px">
                            <div class="ti-links">
                                <a  href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.pinterest.ca/" target="_blank"><i class="fa fa-pinterest"></i></a>
                                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                            </div>
                            <div class="trainer-text">
                                <h5>Vaibhav <span>- Manager</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Trainer Section End -->

    <!-- Cta Section Begin -->
    <section class="cta-section set-bg"  data-setbg="/static/web/images/classes-title-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-text">
                        <h3>GeT Started Today</h3>
                        <p>Contact for More Details </p>
                    </div>
            </div>
        </div>
    </section>
    <!-- Cta Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-logo-item">
                        
                         <div class="social-links">
                            <h6>Follow us</h6>
							<a  href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://twitter.com/login" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://accounts.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
                            <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin" ></i></a>
                            </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="copyright-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="ct-inside">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/static/web/js/jquery-3.3.1.min.js"></script>
    <script src="/static/web/js/bootstrap.min.js"></script>
    <script src="/static/web/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/web/js/mixitup.min.js"></script>
    <script src="/static/web/js/jquery.nice-select.min.js"></script>
    <script src="/static/web/js/jquery.slicknav.js"></script>
    <script src="/static/web/js/owl.carousel.min.js"></script>
    <script src="/static/web/js/masonry.pkgd.min.js"></script>
    <script src="/static/web/js/main.js"></script>
</body>

</html>