{%csrf_token %}

<!DOCTYPE html>
<html lang="eng">

<head>
	<meta charset="UTF-8">
    <title>Fitness Management  | Contact</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/web/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/web/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/web/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/web/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/web/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/web/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/web/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/web/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="container-fluid">
            <div class="logo">
                <a href="/index/">
                    <img src="/static/web/images/gymnasium.png" alt="" width="80" height="80" style="border-radius:50px;">
                </a>
            </div>
           
            <div class="container">
                <div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <li ><a href="/index/">Home</a></li>
                            <li><a href="/about-us/">About us</a></li>
							<li><a href="/package/">Packages</a></li>
                            <li><a href="/schedule/">Schedule</a></li>
                            <li><a href="/gallery/">Gallery</a></li>
                            <li><a href="/video/">Videos</a></li>
                            <li class="active"><a href="/contact/">Contacts</a></li>
                            <li><a href="/login/">Login</a></li>
                            <li><a href="/register/">Register</a></li>

                        </ul>
                    </nav>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Map Section Begin -->
    <div class="contact-map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838.3515112123773!2d74.49956251433399!3d15.83811204979825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbf668317ce8155%3A0xb346aaaeed179ac2!2sCongress%20Rd%2C%20Tilakwadi%2C%20Belgaum%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1588660052589!5m2!1sen!2sin" 
	 height="530" style="border: 0" allowfullscreen=""></iframe>
        
        <div class="map-hover">
            <h5>BELGAUM</h5>
            <ul>
                <li>Monday - Friday: 07.00 AM - 10.00 PM</li>
                <li>Saturday: 09.00 AM - 8.00 PM</li>
                <li>Sunday: Close</li>
            </ul>
            <i class="icon_pin"></i>
        </div>
    </div>
    <!-- Map Section End -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-info">
                        <h4>Information</h4>
                        <ul>
                            <li><i class="fa fa-phone"></i>7689054321</li>
                            <li><i class="fa fa-envelope"></i>gym.body100@gmail.com</li>
                        </ul>
                    </div>
                    <div class="contact-address">
                        <h4>Address</h4>
                        <ul>
                            <li><i class="fa fa-map-marker"></i> #465, Congress Road,Tilakwadi,BELGAUM
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Cta Section Begin -->
    <section class="cta-section set-bg"  data-setbg="/static/web/images/classes-title-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-text">
                        <h3>GeT Started Today</h3>
                        <p>Contact for more Details</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Cta Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-logo-item">
                                        
                        <div class="social-links">
                            <h6>Follow us</h6>
                            <a  href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://twitter.com/login" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://accounts.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
                            <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin" ></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="copyright-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="ct-inside">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/static/web/js/jquery-3.3.1.min.js"></script>
    <script src="/static/web/js/bootstrap.min.js"></script>
    <script src="/static/web/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/web/js/mixitup.min.js"></script>
    <script src="/static/web/js/jquery.nice-select.min.js"></script>
    <script src="/static/web/js/jquery.slicknav.js"></script>
    <script src="/static/web/js/owl.carousel.min.js"></script>
    <script src="/static/web/js/masonry.pkgd.min.js"></script>
    <script src="/static/web/js/main.js"></script>
</body>

</html>