{%csrf_token %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/static/admin/vendors/feather/feather.css">
  <link rel="stylesheet" href="/static/admin/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/static/admin/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/admin/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/static/admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/admin/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/static/admin/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a href="#" style="color:#4B49AC;font-weight: bold">Fitness Management </a>
        
        <!-- <a class="navbar-brand brand-logo mr-5" href="../../index.html"><img src="../../images/logo.svg" class="mr-2" alt="logo"/></a> -->
        <!-- <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../images/logo-mini.svg" alt="logo"/></a> -->
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
    
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
 <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/indexadmin/">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin_master/" >
              <i class="icon-layout menu-icon dark"></i>
              <span class="menu-title">Admin Master</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manage_master/">
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">Manage Admin-Master</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/add_customer_details/">
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">Add_Customer_Details</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manage_customer_details/">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Manage Customer_Details</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add_health_status/">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Add Health_Status</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manage_health_status/">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Manage_Health_Status</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/event_management/">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Event Management</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/product_management/">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Product Management</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/equipment_management/">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Equipment Management</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addplan/">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Add Plan</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manage_plan/">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Manage Plan</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin_login/">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Log Out</span>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/managecoordinator/">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Manage Co-ordinator</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addgame/" >
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Add Game Type</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/managegame/" >
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Manage Game Type</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/addevents/">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Add Sports Events</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/manageevents/">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Manage Sports Events</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/addplayer/">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Add Player</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/manageplayer/">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Manage Players</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/addtournament/">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Add Tournament</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/addtournament/">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Manage Tournament</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/result/">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Results</span>
            </a>
          </li> -->
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card mx-auto">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Customer Details</h4>
                
                  <form class="forms-sample">
                    <div class="form-group">
                      
                      <label for="exampleInputUsername1">Name:</label>
                      <input type="text" class="form-control" id="txtName" placeholder="Enter Your Full Name">

                      <label for="exampleInputUsername1">Address:</label>
                      <textarea type="text" class="form-control" id="txtAddress" placeholder="Enter Address"></textarea> 

                      <label for="exampleInputUsername1">Zip Code:</label>
                      <input type="number" class="form-control" maxlength="10" id="txtZipCode" placeholder="Enter Zip Code">

                      <label for="exampleInputUsername1">Birth Date:</label>
                      <input type="date" class="form-control" maxlength="10" id="txtBirthDate" placeholder="Enter Birth Date">

                      <label for="exampleInputUsername1">Contact Number:</label>
                      <input type="number" class="form-control" maxlength="10" id="txtContactNo" placeholder="Enter Contact Number">

                      <label for="exampleInputUsername1">Email Id:</label>
                      <input type="email" class="form-control" id="txtEmail" placeholder="Enter Your Email Id.">

                      <label for="exampleInputUsername1">Upload Image:</label>
                      <input type="file" class="form-control" maxlength="10" id="txtSelImg" placeholder="Upload Image">

                      <label for="exampleInputUsername1">Height:</label>
                      <input type="number" class="form-control" maxlength="10" id="txtHeight" placeholder="Enter Height">

                      <label for="exampleInputUsername1">Weight:</label>
                      <input type="number" class="form-control" maxlength="10" id="txtWeight" placeholder="Enter Weight">

                      <label for="exampleInputUsername1">Nationality:</label>
                      <input type="text" class="form-control" maxlength="10" id="txtNationality" placeholder="Enter Your Nationality">

                      <!-- <label for="exampleInputUsername1">Facebook Account:</label>
                      <input type="text" class="form-control" maxlength="10" id="txtFacebook" placeholder="Enter Your Facebook Account">

                      <label for="exampleInputUsername1">Twitter Account:</label>
                      <input type="text" class="form-control" maxlength="10" id="txtTwitter" placeholder="Enter Twitter Account">

                      <label for="exampleInputUsername1">Contact Person:</label>
                      <input type="text" class="form-control" maxlength="10" id="txtContactPr" placeholder="Enter Contact Person"> -->

                      <label for="exampleInputUsername1">Previous Gym:</label>
                      <input type="text" class="form-control" maxlength="10" id="txtPrevious" placeholder="Enter Your Previous Gym Details">

                      <label for="exampleInputUsername1">Years Training:</label>
                      <input type="text" class="form-control" maxlength="10" id="txtYears" placeholder="Enter Your Years Training">

                      <label for="exampleInputUsername1">Joining:</label>
                      <input type="date" class="form-control" maxlength="10" id="txtJoining" placeholder="Enter Your Joining Date">

                      <label for="exampleInputUsername1">Age:</label>
                      <input type="number" class="form-control" maxlength="10" id="txtAge" placeholder="Enter Your Age">

                      <label for="inputState" class="form-label">Gender</label><br>
                        <select id="txtGender" class="form-control" aria-label="Default select example">
                          <option value="" >Please Select Gender</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>

                      <label for="exampleInputUsername1">Proof:</label>
                      <input type="file" class="form-control" maxlength="10" id="txtProof" placeholder="Upload Proof">

                      <!-- <label for="exampleInputUsername1">Other Proof:</label>
                      <input type="file" class="form-control" maxlength="10" id="txtOtherProof" placeholder="Upload Other Proof"> -->

                    </div>
                   
                    <button type="button" class="btn btn-primary mr-2" id="btn_add">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          
       </div>
       
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
       
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/static/admin/vendors/js/vendor.bundle.base.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/static/admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="/static/admin/vendors/select2/select2.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/static/admin/js/off-canvas.js"></script>
  <script src="/static/admin/js/hoverable-collapse.js"></script>
  <script src="/static/admin/js/template.js"></script>
  <script src="/static/admin/js/settings.js"></script>
  <script src="/static/admin/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/static/admin/js/file-upload.js"></script>
  <script src="/static/admin/js/typeahead.js"></script>
  <script src="/static/admin/js/select2.js"></script>
  <script src="/static/admin/js/jsaddCustomerDetails.js"></script>

  <!-- End custom js for this page-->
</body>

</html>
